<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="EFTestContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=EFTestContext;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Refer https://msdn.microsoft.com/en-us/library/ff660914(v=pandp.20).aspx 
  for all sorts of unity configurations-->
  <!--Best resource for Unity seems to be  -
  https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx-->

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework" />
    <alias alias="EFTestContext" type="TestEFDomainAndContext.EFTestContext, TestEFDomainAndContext" />
    <container>
      <register type="DbContext" mapTo="EFTestContext">
        <!--force unity to use the default constructor-->
        <constructor />
      </register>
    </container>
  </unity>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDepartmentTestWebService" transactionFlow="true" />
        <binding name="WSHttpBinding_IEmployeeTestWebService" transactionFlow="true" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3603/EmployeeTestWebService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeTestWebService" contract="IEmployeeTestWebService" name="WSHttpBinding_IEmployeeTestWebService">
      </endpoint>
      <endpoint address="http://localhost:3603/DepartmentTestWebService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDepartmentTestWebService" contract="IDepartmentTestWebService" name="WSHttpBinding_IDepartmentTestWebService">
      </endpoint>
    </client>
  </system.serviceModel>

  <!--Very useful for debugging Channel Level errors.Uncomment the below markup if any type of tracing is needed.
      Comment it out when tracing not needed since tracing ultimately hinders the overall performance.Also the trace file 
      needs to be explicitly created by the user and won't be created at runtime by default.-->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\ClientLogs\ClientTraces.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Domain.Base.AddOnObjects.IAddOnObject,Domain">
          <knownType type="Domain.Base.AddOnObjects.AuditInfo,Domain"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
</configuration>