<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="EFTestContext" providerName="System.Data.SqlClient" connectionString="Server=BLRSRAY669409\SQLEXPRESS;Database=EFTestContext;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--Refer https://msdn.microsoft.com/en-us/library/ff660914(v=pandp.20).aspx 
  for all sorts of unity configurations-->
  <!--Best resource for Unity seems to be  -
  https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework" />
    <alias alias="EFTestContext" type="TestEFDomainAndContext.EFTestContext, TestEFDomainAndContext" />
    <container>
      <register type="DbContext" mapTo="EFTestContext">
        <!--force unity to use the default constructor-->
        <constructor />
      </register>
    </container>
  </unity>
  <!--<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" sendTimeout="00:02:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WSHttpBinding_ITestServiceOf_Department" />
        <binding name="WSHttpBinding_ITestServiceOf_Employee" />
        <binding name="WSHttpBinding_ITestServiceBasedOnSQLCEOf_Department" />
        <binding name="WSHttpBinding_ITestServiceBasedOnSQLCEOf_Employee" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50498/DepartmentTestService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" contract="ITestServiceOf_Department" name="WSHttpBinding_ITestServiceOf_Department">
        <identity>
          <userPrincipalName value="sray6@sapient.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50498/EmployeeTestService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" contract="ITestServiceOf_Employee" name="WSHttpBinding_ITestServiceOf_Employee">
        <identity>
          <userPrincipalName value="sray6@sapient.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50498/DepartmentTestServiceBasedOnSQLCE.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" contract="ITestServiceBasedOnSQLCEOf_Department" name="WSHttpBinding_ITestServiceBasedOnSQLCEOf_Department">
        <identity>
          <userPrincipalName value="sray6@sapient.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50498/EmployeeTestServiceBasedOnSQLCE.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" contract="ITestServiceBasedOnSQLCEOf_Employee" name="WSHttpBinding_ITestServiceBasedOnSQLCEOf_Employee">
        <identity>
          <userPrincipalName value="sray6@sapient.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="System.Data.Common.DbConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <knownType type="Effort.Provider.EffortConnection, Effort, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a46696d54971e6d" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>