<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="EFTestContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=EFTestContext;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Refer https://msdn.microsoft.com/en-us/library/ff660914(v=pandp.20).aspx 
  for all sorts of unity configurations-->
  <!--Best resource for Unity seems to be-
  https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx-->

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TestWebService" />
    <assembly name="Repository" />
    <assembly name="TestEFDomainAndContext" />

    <namespace name="TestWebService" />
    <namespace name="Repository" />
    <namespace name="Repository.Base" />
    <namespace name="Repository.Command" />
    <namespace name="TestEFDomainAndContext.TestDomains" />

    <alias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework" />
    <alias alias="EFTestContext" type="TestEFDomainAndContext.EFTestContext, TestEFDomainAndContext" />

    <container>
      <register type="DbContext" mapTo="EFTestContext">
        <constructor>
          <param name="isCalledFromWebService" value="true" />
        </constructor>
      </register>
      <register type="ICommand[]" mapTo="EntityFrameworkCodeFirstCommandForIntegerType[]">
        <constructor>
          <param name="dbContext">
            <dependency type="DbContext" />
          </param>
        </constructor>
      </register>
      <register type="ICommandRepository[]" mapTo="CommandRepository[]">
        <constructor>
          <param name="command">
            <dependency type="ICommand[]" />
          </param>
        </constructor>
      </register>
      <register type="IDepartmentTestWebService" mapTo="DepartmentTestWebService">
        <constructor>
          <param name="commandRepository">
            <dependency type="ICommandRepository[Department]" />
          </param>
        </constructor>
      </register>
      <register type="IEmployeeTestWebService" mapTo="EmployeeTestWebService">
        <constructor>
          <param name="commandRepository">
            <dependency type="ICommandRepository[Employee]" />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--Basic Http Binding doesn't support Transactions-->
      <wsHttpBinding>
        <binding name="WSHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:02:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transactionFlow="true">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestWebServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TestWebService.DepartmentTestWebService" behaviorConfiguration="TestWebServiceBehaviour">
        <endpoint contract="TestWebService.IDepartmentTestWebService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="TestWebService.EmployeeTestWebService" behaviorConfiguration="TestWebServiceBehaviour">
        <endpoint contract="TestWebService.IEmployeeTestWebService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--Very useful for debugging Channel Level errors.Uncomment the below markup if any type of tracing is needed.
      Comment it out when tracing not needed since tracing ultimately hinders the overall performance.Also the trace file 
      needs to be explicitly created by the user and won't be created at runtime by default.-->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\ServerLogs\ServerTraces.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Domain.Base.AddOnObjects.IAddOnObject,Domain">
          <knownType type="Domain.Base.AddOnObjects.AuditInfo,Domain"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
</configuration>