<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!--Refer https://msdn.microsoft.com/en-us/library/ff660914(v=pandp.20).aspx 
  for all sorts of unity configurations-->
  <!--Best resource for Unity seems to be  -
  https://msdn.microsoft.com/en-us/library/dn223671(v=pandp.30).aspx-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TestService" />
    <assembly name="Repository" />
    <namespace name="TestService" />
    <namespace name="Repository" />
    <namespace name="Repository.Base" />
    <namespace name="Repository.Command" />
    <alias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework" />
    <alias alias="EFTestContext" type="TestEFDomainAndContext.EFTestContext, TestEFDomainAndContext" />
    <container>
      <register type="DbContext" mapTo="EFTestContext">
        <constructor />
        <!--force unity to use the default constructor-->
      </register>
      <register type="ICommand[]" mapTo="EntityFrameworkCodeFirstCommand[]">
        <constructor>
          <param name="dbContext">
            <dependency type="DbContext" />
          </param>
        </constructor>
      </register>
      <register type="ICommandRepository[]" mapTo="CommandRepository[]">
        <constructor>
          <param name="command">
            <dependency type="ICommand[]" />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Effort.Provider" invariant="Effort.Provider" description="Effort.Provider" type="Effort.Provider.EffortProviderFactory,Effort" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="Effort.Provider" type="Effort.Provider.EffortProviderServices, Effort" />
      <!--<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />-->
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="EFTestContext" connectionString="Data Source=C:\SQLITEDATABASES\SQLITEDB1.sqlite;Version=3" />
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--Basic Http Binding doesn't support Transactions-->
      <wsHttpBinding>
        <binding name="WSHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:02:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" textEncoding="utf-8" transactionFlow="true">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="TestService.TestService" behaviorConfiguration="TestBehaviour">
        <endpoint address="http://localhost:50498/DepartmentTestService" binding="wsHttpBinding" contract="TestService.ITestService`1[[TestEFDomainAndContext.TestDomains.Department, TestEFDomainAndContext]],TestService" bindingConfiguration="WSHttpBinding" />
        <endpoint address="http://localhost:50498/EmployeeTestService" binding="wsHttpBinding" contract="TestService.ITestService`1[[TestEFDomainAndContext.TestDomains.Employee, TestEFDomainAndContext]],TestService" bindingConfiguration="WSHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="TestService.TestServiceBasedOnSQLLite" behaviorConfiguration="TestBehaviour">
        <endpoint address="http://localhost:50498/DepartmentTestServiceBasedOnSQLCE" binding="wsHttpBinding" contract="TestService.ITestServiceBasedOnSQLLite`1[[TestEFDomainAndContext.TestDomains.Department, TestEFDomainAndContext]],TestService" bindingConfiguration="WSHttpBinding" />
        <endpoint address="http://localhost:50498/EmployeeTestServiceBasedOnSQLCE" binding="wsHttpBinding" contract="TestService.ITestServiceBasedOnSQLLite`1[[TestEFDomainAndContext.TestDomains.Employee, TestEFDomainAndContext]],TestService" bindingConfiguration="WSHttpBinding" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>